@using BoldRealties.Models
@model tenancies
<!--eliminate both lines below and above and use -->
<!--using BoldRealties.Models.ViewModels.ShoppingCartVM  -->

<!--add using statement for IOptions below -->
@using Microsoft.Extensions.Options
<!--inject StripeSettings as Stripe inside this view  -->
@inject IOptions<BoldRealties.Models.StripeSettings> Stripe
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-primary">Payments List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Viewings" asp-action="AddViewing" class="btn btn-primary"> Add new record</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                <th> ID</th>
                <th>amount</th>
                <th>received date</th>
                 <th>Tenancy ID</th>
                <th>User ID</th>
                  <th>currency</th>
               
            </tr>
        </thead>
        <tbody>
          
             <tr>
                <td>@Model.billsIncluded</td>
                <td>@Model.PropertiesRS.propertyAddress</td>
                <td>@Model.rentPrice</td>
                <td>@Model.UserID</td>
                <td>@Model.Users.firstName</td>
                <td>@Model.Users.lastName</td>
                <td>
                    <a asp-controller="Viewing" asp-action="EditViewing" asp-route-id="@Model.Id" class="btn btn-primary mx-2">
                       <i class="bi bi-file-earmark-richtext"></i>
                     </a>
                       <a   class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                          <a asp-controller="Viewing" asp-action="DeleteViewing" asp-route-id="@Model.Id"  class="btn btn-danger mx-2">
                       <i class="bi bi-trash"></i>
                        </a>

                    </td>
            </tr>
            
           

        </tbody>
    </table>
</div>




