
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}

@using BoldRealties.Models
@model  IEnumerable<Invoices>

<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-primary">Invoices</h2>
        </div>
        <div class="col-6">
            <a asp-controller="invoices" asp-action="Add" class="btn btn-primary">Add Invoice</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                <th>Invoice ID</th>
                 <th>Due Date</th>
                <th>Invoice Number</th>
                <th>Property ID</th>
                <th>Tenancy ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
                <td>@item.Id</td>
                <td>@item.Due_Date</td>
                <td>@item.invoice_No</td>
                <td>@item.PropertyID</td>
                <td>@item.TenancyID</td>
                <td>
                    <a asp-controller="maintenanceJobs" asp-action="EditMJ" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                       <i class="bi bi-file-earmark-richtext"></i>
                     </a>
                       <a   class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                          <a asp-controller="maintenanceJobs" asp-action="DeleteMJ" asp-route-id="@item.Id"  class="btn btn-danger mx-2">
                       <i class="bi bi-trash"></i>
                        </a>

                    </td>
            </tr>
            }
           

        </tbody>
    </table>
</div>




