@using BoldRealties.Models
@model  IEnumerable<Accounts>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-primary">Accounts List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Accounts" asp-action="AddAccounts" class="btn btn-primary"> Add new record</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Balance Due</th>
                 <th>Charged Date</th>
                <th>File</th>
                 <th>is Received?</th>
                 <th>Invoice ID</th>
                <th>Payment ID</th>
                 <th>Tenancy ID</th>
              
          
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
                <td>@item.ID</td>
                <td>@item.balance_due</td>
                <td>@item.charged_date</td>
                <td>@item.FilePath</td>
                <td>@item.isReceived</td>
                <td>@item.InvoiceID</td>
              @*  <td>@item.PaymentID</td>*@
                <td>@item.TenancyID</td>
         

          
               
              
                <td>
                    <a asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary mx-2">
                       <i class="bi bi-file-earmark-richtext"></i>
                     </a>
                       <a   class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                          <a asp-controller="Accounts" asp-action="Delete" asp-route-id="@item.ID"  class="btn btn-danger mx-2">
                       <i class="bi bi-trash"></i>
                        </a>

                    </td>
            </tr>
            }
           

        </tbody>
    </table>
</div>




