@using BoldRealties.Models
@model  IEnumerable<Enquiries>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class= "text-dark">Enquiries List</h2>
        </div>
       
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
            
                
                <th>Applicant type</th>
                <th>Full name</th>
                 <th>Email</th>
                 <th>Postcode</th>
                <th> Phone number</th>
                <th>Number of bedrooms</th>
                  <th>Number of bathrooms</th>
                  <th></th>
                   <th></th>
                   <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
              
           
                <td>@item.applicantType</td>
                <td>@item.NameSurname</td>
                 <td>@item.email</td>
                <td>@item.postcode</td>
                <td>@item.phone_No</td>
                 <td>@item.noBeds</td>
                <td>@item.noBaths</td>
            

              
                <td>
                      <a asp-controller="Enquiries" asp-action="Details" asp-route-id="@item.ID" class="btn btn-warning">
                       <i class="bi bi-file-earmark-richtext">Details</i>
                     </a>
                     </td>
                       <td>
                    <a asp-controller="Enquiries" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">
                       <i class="bi bi-file-earmark-richtext">Edit</i>
                     </a>
                     </td>
                       <td>
                      <a asp-controller="Enquiries" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-warning">
                       <i class="bi bi-file-earmark-richtext">Delete</i>
                     </a>
                       
                    </td>
            </tr>
            }
           

        </tbody>
    </table>
</div>




