@using BoldRealties.Models
@model  IEnumerable<Viewings>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-dark">Viewings List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Viewings" asp-action="Upsert" class="btn btn-warning">Schedule viewing</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                <th>Applicant ID</th>
                <th>Property ID</th>
                <th>User ID</th>
                 <th>viewing date</th>
                <th>Confirmation status</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
                <td>@item.Id</td>
                <td>@item.ApplicantID</td>w
                <td>@item.PropertyID</td>
                <td>@item.UserID</td>
                <td>@item.viewing_Date</td>
                <td>@item.isConfirmed</td>
                <td>
                    <a asp-controller="Viewing" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-warning ">
                       <i class="bi bi-file-earmark-richtext">Edit</i>
                     </a>
                      </td>
                        
            </tr>
            }
           

        </tbody>
    </table>
</div>




