@using BoldRealties.Models
@model  IEnumerable<Viewings>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserPanel_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-primary">Viewings List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Viewings" asp-action="Upsert" class="btn btn-primary"> Add new record</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                <th>Applicant ID</th>
                <th>Property ID</th>
                <th>User ID</th>
                 <th>viewing date</th>
                <th>Confirmation status</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
                <td>@item.Id</td>
                <td>@item.ApplicantID</td>w
                <td>@item.PropertyID</td>
                <td>@item.UserID</td>
                <td>@item.viewing_Date</td>
                <td>@item.isConfirmed</td>
                <td>
                    <a asp-controller="Viewing" asp-action="EditViewing" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                       <i class="bi bi-file-earmark-richtext"></i>
                     </a>
                       <a   class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                        </a>
                          <a asp-controller="Viewing" asp-action="DeleteViewing" asp-route-id="@item.Id"  class="btn btn-danger mx-2">
                       <i class="bi bi-trash"></i>
                        </a>

                    </td>
            </tr>
            }
           

        </tbody>
    </table>
</div>




