@using BoldRealties.Models
@model  IEnumerable<Deposits>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class= "text-dark">Deposits List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Deposits" asp-action="Upsert" class="btn btn-warning"> Add deposit record</a>
        </div>
    </div>
    <table class= "table table-table-bordered table-table-striped">
        <thead>
            <tr>
                 <th>Tenancy ID</th>
                <th> Landlord Id</th>
                <th>amount</th>
                 <th>Protected?</th>
                <th>is Received?</th>     
                <th>is Transferred?</th>    
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
             <tr>
                <td>@item.Id</td>
                <td>@item.TenancyID</td>
                <td>@item.UserID</td>
                <td>@item.amount</td>
                <td>@item.due_date</td>
                <td>@item.isProtected</td>
                <td>@item.isReceived</td>
                <td>@item.isReturned</td>
                <td>@item.isTransfered</td>
            </tr>
            }
           

        </tbody>
    </table>
</div>




